*
            {
                border: 1px solid black;
                box-sizing: border-box;
            }
            body
            {
                height: 100vh;
                /* max-height: 100%; */
                background-color: rgb(57, 57, 57);
                display: flex;
                flex-direction: column;
                min-width: 1080px;
            }
            div.TopBar
            {
                display: flex;
            }
            /* BEGINNING OF TOP BAR */
            div.TopBar *
            {
                background-color: grey;
                border-bottom: 0;

            }
            div.LeftSection,div.RightSection
            {
                padding: 20px 0px 10px 0px;
                min-height: 50px;
                background-color: grey;
            }

            div.LeftSection
            {

                /* height: 80px; */
                /* height: 11vh; */
                width: 15%;
                border-right: 0;

            }
            div.RightSection
            {
                width: 85%;
                border-left: 0;

                /* height: 80px; */
            }
            div.RightSection *
            {
                border: 0;
                padding: 0;
            }
            /* SEARCH BAR */
            div.RightSection form
            {
                /* padding: 5px 0px; */
                width: 40%;
                min-width: 325px;
                border: 1px solid black;
                /* margin: 0; */
                border-radius: 50px;
                padding: 5px 5px;
                /* padding: 0px 4px; */
                background: rgba(255, 255, 255, .2);
                display: flex;
                align-items: center;
            }
            div.RightSection form label
            {
                background: transparent;
                font-size: 20px;

            }

            div.RightSection form input.courseNumberInputField
            {
                /* background-color: aquamarine; */
                background: transparent;
                flex: 1;
                font-size: 20px;
                border: 0;
                outline: none;

            }
            div.RightSection form input::placeholder
            {
                color: rgba(0, 0, 0, 0.5);
            }
            div.RightSection form button
            {
                background: #414040;
                color: white;
                height: 45px;
                width: 45px;
                min-width: 45px;
                border-radius: 50%;

            }
            div.RightSection form button img
            {
                width: 25px;
                height: 25px;
                background-color: transparent;
            }
            /* END SEARCH BAR */


            /* END OF TOP BAR */
            /* MAIN BODY */
            div.MainBody
            {
                display: flex;
                flex: 1;
                min-height: 500px;

            }
            div.LeftBar
            {
                background-color: rgb(213, 212, 212);
                width: 15%;
                /* border-right: 0; */
            }
            div.LeftBar button
            {
                border-left: 0;
                border-right: 0;
                width: 100%;
                height: 10%;
            }
            div.LeftBar button.SearchButton
            {
                border-top: 0;
            }
            div.LeftBar button:hover
            {
                /* border-top: 0; */
                border-left: 0;
                border-right: 0;
                background-color: rgb(76, 76, 76);
                color: white;
                transition: .4s;
                border: 1px solid black;
                cursor: pointer;
            }
            div.Rightbody
            {
                background-color: rgb(171, 171, 171);
                width: 85%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            div.whitebox
            {
                border: 2px solid black;
                width: 50%;
                min-width: 400px;
                max-height: 60%;
                height: 95%;
                min-height: 300px;
                border-radius: 15px;
                background: rgb(140, 132, 132);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }
           
            

            .dropbtn {
            background-color: #7F9CCB;
            color: rgb(6, 6, 6);
            padding: 16px;
            font-size: 16px;
            border: 1px solid black;
            /* border: 1px solid black; */
            cursor: pointer;
            border-radius: 15px;
            min-width: 105px;
            }

            .dropbtn:hover, .dropbtn:focus {
            background-color: #2D5BA3;
            color: white;
            }

            #myInput {
            box-sizing: border-box;
            background-image: url('searchicon.png');
            background-position: 14px 12px;
            background-repeat: no-repeat;
            font-size: 16px;
            padding: 14px 20px 12px 45px;
            border: none;
            border-bottom: 1px solid #ddd;
            }

            #myInput:focus {outline: 3px solid #ddd;}

            .dropdown {
            position: relative;
            display: inline-block;
            border: 0;
            }

            .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f6f6f6;
            min-width: 230px;
            overflow: auto;
            border: 1px solid #ddd;
            z-index: 1;
            max-height: 258px;
            overflow-y: scroll;
            }

            .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            border: 0;
            }
            .dropdown-content:active{
                background-color: #0D3F8F;
                border: 1px solid white;
            }

            .dropdown a:hover {background-color: #ddd;}

            .show {display: block;}
            .hidden{display: none;}
            /* div.whitebox p ul */
            form{
                border: 1px ,solid, black;
            }
            form.fromclass {
                width: 90%;
                min-height: 200px;
                min-width: 300px;
                height: 40%;
                background: #ccc;
                margin: 0 auto;
                padding: 20px;
                /* border: 1px solid black; */
                flex-direction: column;
                align-items: center;
                justify-content: center;
                /* display: flex; */
                /* flex-direction: column; */
                border-radius: 20px;
                position: relative;
                top: 10px;

    }

    form.fromclass ol {
      padding-left: 0;
      border: 0;
    }

    form.fromclass li, div > p {
      background: #eee;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      list-style-type: none;
      /* border: 1px solid black; */
      border: 0;
    }

    form.fromclass img {
      height: 64px;
      order: 1;
      border: 0;
    }
    form.fromclass div{
        border: 0;
    }

    form.fromclass p {
      line-height: 32px;
      padding-left: 10px;
      border: 0;
    }

    form.fromclass label, form button {
      background-color: #7F9CCB;
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px ridge black;
      font-size: 0.8rem;
      height: auto;
      /* width: 90%; */
    }
    form.fromclass input{
        visibility: hidden;
        border: 0;
    }

    form.fromclass label:hover, form button:hover {
      background-color: #2D5BA3;
      color: white;
      border: 0;
    }

    form.fromclass label:active, form button:active {
      background-color: #2D5BA3;
      color: white;
      border: 0;
    }
    